body{

margin:0;

font-family:
Arial,
Helvetica,
sans-serif;

color:#333;

line-height:1.7;

}



.container{

width:1080px;

max-width:90%;

margin:auto;

}



header{

border-bottom:
1px solid #ddd;

background:white;

}



.nav{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

}



.logo{

font-size:22px;

font-weight:bold;

color:#222;

text-decoration:none;

}



nav a{

margin-left:30px;

color:#555;

text-decoration:none;

}



nav a.active{

color:#1f4e79;

font-weight:bold;

}





.intro{

padding:60px 0 40px;

border-bottom:
1px solid #ddd;

}



.intro h1{

font-family:
Georgia,
serif;

font-size:45px;

margin-bottom:15px;

}



.intro p{

color:#666;

font-size:18px;

}





.publication-section{

padding:45px 0;

}



.publication-section h2{

font-family:
Georgia,
serif;

font-size:30px;

border-bottom:
2px solid #1f4e79;

padding-bottom:8px;

margin-bottom:30px;

}





.publication-list{

list-style:none;

padding:0;

}



.publication-item{

display:flex;

margin-bottom:25px;

}



.pub-number{

width:70px;

color:#1f4e79;

font-weight:bold;

}



.pub-content{

flex:1;

}



.author{

color:#333;

}



.title{

font-weight:bold;

}



.venue{

font-style:italic;

color:#555;

}



.corresponding{

font-size:0.8em;

vertical-align:super;

font-weight:bold;

}



.note{

color:#b00000;

margin-left:5px;

}



.links{

margin-top:5px;

}



.links a{

font-size:13px;

border:1px solid #aaa;

padding:2px 8px;

margin-right:6px;

text-decoration:none;

}



footer{

border-top:
1px solid #ddd;

padding:25px 0;

text-align:center;

color:#777;

}



.research-area{

padding:60px 0;

border-bottom:
1px solid #ddd;

}



.research-area h2{

font-family:Georgia,serif;

font-size:32px;

margin-bottom:15px;

}



.research-description{

font-size:18px;

color:#555;

max-width:900px;

margin-bottom:35px;

}




.research-paper{

display:flex;

gap:35px;

margin-bottom:45px;

align-items:center;

}




.paper-image{

width:330px;

flex-shrink:0;

}



.paper-image img{

width:100%;

border:1px solid #ddd;

}



.paper-info{

flex:1;

}



.paper-info h3{

font-size:22px;

margin-top:0;

}



.authors{

color:#444;

}



.venue{

font-style:italic;

color:#666;

}



.links a{

margin-right:10px;

padding:3px 10px;

border:1px solid #aaa;

font-size:13px;

text-decoration:none;

}




@media(max-width:800px){

.research-paper{

flex-direction:column;

align-items:flex-start;

}


.paper-image{

width:100%;

}

}









.activity-section{

padding:40px 0;

}


.activity-section h2{

font-size:30px;

font-family:Georgia,serif;

border-bottom:2px solid #1f4e79;

padding-bottom:8px;

}



.activity-item{

display:flex;

gap:30px;

margin:18px 0;

font-size:17px;

}



.activity-item .year{

width:150px;

color:#666;

}



.activity-item a{

color:#1f4e79;

text-decoration:none;

}



.activity-item a:hover{

text-decoration:underline;

}